
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}

// Change a height of a standard Bootstrap navbar.
@import "navbar";

// Pages
@import "pages/ebooks";
@import "pages/post";
@import "pages/videos";

// Style Media
@import "media";


// Sidebar modules for boxing content
@import "sidebar";

footer {
  padding: 30px 0;
}

// Fontawesome
@import "../libs/font-awesome/scss/font-awesome";
